body{
    height: 500px;
}
.spinner{
    margin-left: auto;
    margin-top: 50vh;
    margin-right: auto;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 5PX SOLID #DCDCDC;
    border-left-color:  #00CC99;
}
@keyframes loading{
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg);
    }
}
.spinner.is-animation{
    animation: loading 2s cubic-bezier(0, .25, .7125, 1) infinite;
}